# ignore all files in dist folder
dist/*

# ignore all files in build folder 
build/*

# ignore all files in oneclickai.egg-info
oneclickai.egg-info

# ignore some personal files
패키지올리는방법.txt

*.h5

test/*


# ignore all .pyc files
*.pyc